@media (max-width: 860px) {
    .sidebar_wo {
        display: none;
    }
}

.sidebar_wo {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    line-height: 0;
    cursor: url(image/bottom/lm.cur), pointer;
}

#lamu:hover {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}

#lamu {
    right: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
    -ms-transform: translate(7px, 7px);
}

#leimu:hover {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}

#leimu {
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate(-7px, 7px);
    transform: translate(-7px, 7px);
    -ms-transform: translate(-7px, 7px);
}