<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/style.css" rel="stylesheet" />
</head>
<body>
    
    <div class="sidebar_wo" id="leimu"> 
        <img src="https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/leimu1.png" alt="雷姆" onmouseover="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/leimu2.png'" onmouseout="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/leimu1.png'"> 
    </div>
    
    <div class="sidebar_wo" id="lamu"> 
        <img src="https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/lamu1.png" alt="拉姆" onmouseover="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/lamu2.png'" onmouseout="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/lamu1.png'"> 
    </div>

</body>
</html>